@charset "UTF-8";

body {
    user-select: none;
}

i {
    color: red;
    font-size: 20px;
    margin-right: 4px;
    cursor: pointer;
}

i.large {
    font-size: 32px;
}

span {
    font-size: 20px;
    color: #aaa;
}

/* reset */
button {
    background-color: #eee;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}


